h1{
    color:mediumpurple
    
}
h2{
    color: peru;
    text-align: center;
}
ul{font-style: oblique;
    color: blueviolet;
         
}
.sn1{
    background-color: navajowhite;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
div{
    text-align: center;
}
span{
    color: black;
}
#p1{
    font-size: large;

}
button{
    color: blueviolet;
}
*{
    padding: 0%;
    margin: 0%;
}
header{
    
    background-color: mediumslateblue;
    
}